<div class="header">
   <span class="logotip">
      <a href="/home/GetCategories">
         <button class="logotip-botun" id="gumb">
            <img class="logotip-slika" src="/images/Sare Logistika (3) crop.png" alt="logo">
         </button>
      </a>
   </span>
   <span class="spacer">
   </span>
   <span class="trenutna_kategorija">
      <p id="trenutna_kategorija-display">
         <%=current_cat%>
      </p>
   </span>
   <span class="kosarica">
      <span class="kosaricaa">
         <a href="/cart">
            <img class="kosara_logo" src="/images/263142.png" alt="kosara">
         </a>
         <div class="quantity_display" id="quantity_display">
            <%=quantity %>
         </div>
      </span>
      <span>
         <img class="povecalo_logo" src="/images/Magnifierpng.parspng.com-2.png" alt="povecalo">
      </span>
   </span>
</div>